body {
  background-color: black;
  height: 100vh;
  font-family: sans-serif;
  margin: 0px;
}

footer {
  height: 100px;
}

p,
a,
span,
div,
button {
  color: white;
}

a {
  text-decoration: none;
}

.contentsWrapper {
  width: 90%;
  margin: 0 auto;
}

.flexProperties {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  filter: invert();
  height: 100px;
}

.navbarLinks {
  width: 200px;
}

#playButton {
  display: block;
  text-align: center;
  border-radius: 30px;
  background-color: brown;
  border: 0;
  padding: 3px 30px;
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.4);
  color: gainsboro;
  width: 100px;
  padding: 6px 4px;
  font-family: fantasy;
  font-size: larger;
  letter-spacing: 2px;
}

#playButton:hover {
  transform: scale(1.2);
  box-shadow: 7px 7px 10px rgba(255, 255, 255, 0.4);
  transition: 500ms all;
  margin: 0 20px 20px 0;
}

.currentMovieBox {
  padding: 30px;
  height: 400px;
}

#bgImage {
  background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1744&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#movieImage {
  position: absolute;
  right: 300px;
  top: 200px;
}

#description {
  width: 400px;
  font-size: larger;
}

.movieTitleBox {
  display: flexbox;
  justify-content: space-around;
  width: 100%;
}

.sectionHeader {
  text-align: left;
  margin-top: 60px;
  margin-left: 30px;
  margin-bottom: -8px;
}

.sectionIndicator {
  position: relative;
  display: flex;
  margin-top: 60px;
  margin-right: 10px;
  margin-bottom: -15px;
}

.sectionIndicator li {
  display: inline-block;
  width: 20px;
  background-color: #4d4d4d;
  margin-left: 2px;
  border-radius: 4px;
  padding-top: 5px;
}

.sectionIndicator .active {
  background-color: #aaa;
}

.categoryScrollbar {
  display: grid;
  overflow: hidden;
  scroll-behavior: smooth;
  grid-auto-flow: column;
}

.categoryScrollbar section {
  width: 100%;
  position: relative;
  display: flex;
  margin: 20px 0;
}

.categoryScrollbar section .movieImages {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 5px;
  transition: 250ms all;
  width: 220px;
  height: 220px;
}

.categoryScrollbar section .movieImages img {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.categoryScrollbar section .movieImages img:hover {
  transform: scale(1.05);
  box-shadow: 7px 7px 10px rgba(255, 255, 255, 0.4);
  transition: 500ms all;
}

.categoryScrollbar section .arrowButton {
  position: absolute;
  text-decoration: none;
  font-size: 10em;
  width: 80px;
  height: 230px;
  text-align: center;
  z-index: 1;
}

.categoryScrollbar section .arrowButton:hover {
  transform: scale(1.2);
  color: rgba(255, 255, 255, 1);
}

.rightArrow {
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 70%);
  color: rgba(255, 255, 255, 0.5);
}

.leftArrow {
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 70%
  );
  color: rgba(255, 255, 255, 0.5);
}

.modal-container {
  display: flex;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.modal {
  width: 75%;
  max-height: 100%;
  /* background: linear-gradient(45deg, #181818 0%, blue 70%); */
  background-color: #181818;
  border-radius: 20px;
  position: relative;
  padding: 20px;
}

.modal div {
  display: flex;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  display: inline-block;
}

.modal p:nth-child(1) {
  width: 200px;
}

.modal p:nth-child(2) {
  width: 70%;
}

.modal span {
  left: 20px;
}

.modal img {
  position: absolute;
  right: 80px;
  top: 50px;
  border-radius: 7px;
}

.modal #noImageInfo {
  position: absolute;
  margin-top: 0;
  right: 80px;
  top: 50px;
  background-color: #4d4d4d;
  padding: 110px 50px;
  border-radius: 7px;
}

#closeModal {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: brown;
  border-radius: 10px;
  border: 0;
  padding: 3px 10px;
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.4);
  color: #aaa;
  font-size: 18px;
  /* font-weight: bold; */
  font-family: fantasy;
  letter-spacing: 1.5px;
}

#closeModal:hover {
  transform: scale(1.2);
  box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.4);
  transition: 500ms all;
  margin: 0 4px 4px 0;
}

.noImageTitle {
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}
