body {
  background-color: black;
  height: 100vh;
  font-family: sans-serif;
  margin: 0px;
}

p,
a,
span,
div {
  color: white;
}

a {
  text-decoration: none;
}

.contentsWrapper {
  width: 90%;
  margin: 0 auto;
}

.flexProperties {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarLinks {
  width: 200px;
}

#playButton {
  display: block;
  text-align: center;
  border-radius: 30px;
  background-color: brown;
  width: 100px;
  padding: 4px 0px;
}

.currentMovieBox {
  padding: 30px;
  height: 400px;
}

#bgImage {
  background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1744&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#mainLogo {
  font-size: 1.8rem;
}

.movieTitleBox {
  width: 100%;
}

.sectionHeader {
  text-align: center;
  margin-top: 60px;
}

.categoryScrollbar {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  overflow: hidden;
  scroll-behavior: smooth;
}

.categoryScrollbar section {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  grid-template-columns: repeat(5, auto);
  margin: 20px 0;
}

.categoryScrollbar section .movieImages {
  padding: 0 2px;
  transition: 250ms all;
}

.categoryScrollbar section .movieImages:hover {
  margin: 0 40px;
  transform: scale(1.2);
}

.categoryScrollbar section .arrowButton {
  position: absolute;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-align: center;
  z-index: 1;
  top: 70px;
}

.movieImages {
  width: 220px;
  height: 200px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.arrowButton {
  top: 0px;
  background-color: transparent;
  border-right: 10px solid white;
  border-bottom: 10px solid white;
  padding: 3px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.leftArrow {
  transform: rotate(135deg);
  left: 20px;
}

.rightArrow {
  transform: rotate(-45deg);
  right: 30px;
}
